<div *ngIf="login; else register">
  <form class="container" autocomplete="off" novalidate [formGroup]="logForm">
    <div>
      <div class="form-element-container">
        <label>Nazwa użytkownika</label>
        <input class="login-input" formControlName="nickname" placeholder="Nazwa użytkownika"
          [ngClass]="{ 'is-valid': loginForm.nickname.errors && submitted}">

      </div>

      <div class="form-element-container">
        <label>Hasło</label>
        <input class="login-input" formControlName="password" type="password" placeholder="Hasło"
          [ngClass]="{ 'is-valid': loginForm.password.errors && submitted}">
      </div>
      <div>
        <button class="submit-button" type="submit" (click)="onLogin()">Zaloguj się</button>
        <p>Nie masz konta? <a class="register-text" (click)="registerMeClick(false)">Zarejestruj się!</a>
      </div>
    </div>
  </form>
</div>
<ng-template #register>
  <app-register (backToLogin)="registerMeClick(true)"></app-register>
</ng-template>
