
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div>
    <ul>
    <li><a (click)="homeClick()">Home</a></li>
    <li><a >Contact</a></li>
    <li><a >About</a></li>
    <li *ngIf="userAuthService.isLoggedIn()"><a (click)="phraseClick()">Phrase</a></li>
    <li class = "my-account"><a (click)="expandMenuClick()" [ngClass]="isActive ? 'rotate-icon' : ''"><span class="material-symbols-outlined">
      expand_circle_down
      </span></a>
</li>
  </ul>
  <div class="expand-menu" [ngClass]="!isActive ? 'expand-menu-hide' : ''">
    <a (click)="logoutClick()">logout</a>
  </div>
</div>