<mat-card *ngIf="!isEndOfQuiz; else scorePage" class="container">
  <mat-card-header>
    <mat-card-title>{{ question }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-radio-group class="exercise-content-answers">
      <mat-radio-button
        *ngFor="let answer of answers"
        [value]="answer"
        [(ngModel)]="checkedAnswer"
        ngDefaultControl
      >
        {{ answer }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button
      color="primary"
      mat-raised-button
      class="exercise-btn"
      [disabled]="checkedAnswer == undefined"
      (click)="onConfirm()"
    >
      Zatwierdź
    </button>
  </mat-card-actions>
</mat-card>
<ng-template #scorePage>
  <app-score (newGame)="startNewGame()"></app-score>
</ng-template>
