.container{
height: 100vh;
display: flex;
justify-content: center;
margin: 10vh;

}
.question-holder{
 width: 45vw;
}

.question{
font-size: 32px;
}

.place-answers{
  width: 20vw;
  padding: 0 10vh;
}

.button-answers {
  margin: 0px auto;
  appearance: none;
  width: 25vw;
  margin: 1vw 0px;
  background-color: #3390FF;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-answers:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-answers:hover {
  background-color: #2C7EDF;
}

.button-answers:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-answers:disabled {
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-answers:active {
  background-color: #296DBD;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-wrong {
  background-color: Red;
}
.button-wrong:hover {
  background-color: Red;
}

.button-correct {
  background-color: green;
}
.button-correct:hover {
  background-color: green;
}
