<div class="container">
  <div *ngIf="!exerciseEnd" class="question-holder">
    <div class="question">{{question}}<p class="question-count">{{questionCount}}</p>
    </div>
    <!--    <div class="place-answers" *ngFor="let answer of answers">-->
    <!--      <button class="button-answers" (click)="getAnswer($event)" [disabled]="clicked">{{answer}}</button>-->
    <!--    </div>-->
    <div class="place-answers" *ngFor="let answer of answers; let i=index">
      <button class="button-answers" (click)="markAnswer(i+1, $event)"
        [ngClass]="marked[i] ? 'marked' : 'button-answers'">{{answer}}</button>
    </div>

    <div *ngIf="clicked">
      <button class="next-question-button" (click)="nextQuestion()">Next</button>
    </div>
  </div>

</div>
