<form class="register-form" autocomplete="off" novalidate [formGroup]="regForm">
  <div class="register-form-container">
    <mat-form-field>
      <mat-label>Nazwa użytkownika</mat-label>
      <input
        matInput
        formControlName="nickname"
        placeholder="Nazwa użytkownika"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="E-Mail"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        placeholder="Hasło"
      />

      <mat-icon
        class="register-password-icon"
        matSuffix
        [matTooltip]="!hidePassword ? 'Ukryj Hasło' : 'Pokaż hasło'"
        (click)="changePasswordVisibility()"
        >{{ !hidePassword ? "visibility" : "visibility_off" }}</mat-icon
      >
    </mat-form-field>

    <div class="back-button">
      <button class="submit-button" type="submit" (click)="onRegister()">
        Zarejestruj się
      </button>
      <button class="submit-button" type="button" (click)="backToLoginClick()">
        Wróc
      </button>
    </div>
  </div>
</form>
